Is a user logged in? {{user.loggedIn}}<br><br>

User ID<br>
user_id from user_id: {{user.user_id}}<br>
user_id from req.session.user_id: {{req.session.user_id}}<br><br>

Username<br>
username from username: {{user.username}}<br>
username from req.session.username: {{user.req.session.username}}<br>


</div>




{{!-- <hr>
<article>
    <h1>Login Page</h1>
</article>

<label for="username">Username</label>
<input type="text" id="username">

<label for="password">Password</label>
<input type="text" id="password">


<button id="submit">Submit</button>
<hr> --}}

{{!-- <script src="./javascript/login.js"></script>  --}}
